
.background{
    padding-top: 30px;
    background-image: url(../../../assets/analysis-analytics-analyze-app.jpg);
    height: 750px;

  

}
.online{
    background-color: green ;
    width: 120px;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;
}

.offline{
    background-color: red ;
    width: 120px;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;
}
.loading{
    color: #f28500;
    font-weight: bold;
}




.card{
margin: 50px;
padding: 20px;
width: auto;
/* UI Properties */
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 18px;
opacity: 1;
margin:0    auto;
text-align: center;
}


h1{
    margin-top: 10px;
}
.title{
    font-weight: bold;
    
}
