

<h1> Prices of Bitcoin (USD)</h1>
<table class="table">
    <thead>
  
    </thead>
    <tbody>
      <tr *ngFor="let price of prices; let j = index">
        <h1 *ngIf="j==0">Today</h1>
        <h1 *ngIf="j==1">2 week ago</h1>
        <div class="card">
            <div class="row">
             
   
                <div class="col title">
                    Price close
               </div>
                <div class="col title">
                    Difference day
               </div>
                <div class="col title">
                   Detail
               </div>
                <div class="w-100"></div>
                <div class="col">{{price.priceClose | currency:'USD'}}</div>
                <div class="col price-{{price.difference>=0?'green':'red'}}">{{price.difference | currency:'USD'}}</div>
                <div class="col"><button> details <img  class="icon-detail" src="../../assets/arrow-forward-outline.svg" alt=""></button></div>
            </div>
            
        </div>
      
      </tr>
      
      
    </tbody>
  </table>