@import url(./../../styles.scss);

.principalMenu{
    padding-top: 30px;
    background-image: url(../../assets/analysis-analytics-analyze-app.jpg);
    height: 1500px;
}

.online{
    background-color: green ;
    width: 120px;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;
}

.offline{
    background-color: red ;
    width: 120px;
    text-align: center;
    border-radius: 4px;
    color: #ffffff;
}

.card{
    border-radius: 5px;
    background-color:  rgb(255, 251, 248, 0.9);
    margin: 5px;
    box-shadow: 0px 3px 6px #00000029;
    height: 40%;
    width: 98%;
}

.title{
    font-weight: bold;
    
}

button{
    border: none;
    width: 90px;
    background-color: #f28500  ;
    border-radius: 7px;
    color: #ffffff;
}

h1{
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
}

h2{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}

.icon-detail{
    width: 20%;
    cursor: pointer;
    color: antiquewhite;
}

.price-green{
    color: green;
    font-weight: bold;
}

.price-red{
    color: red;
    font-weight: bold;
}