/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(assets/Poppins/Poppins-Thin.ttf) format("opentype");
  }

  * {
    font-family: 'Poppins', sans-serif;
  }
  div{
    font-family: 'Poppins', sans-serif;
  }
  h1{
    font-family: 'Poppins', sans-serif;
  }